In [2]:
print('hello noteb')

hello noteb

In [ ]:
from datasets import load_dataset

ds_news_raw = load_dataset('ag_news')

Generating train split: 100%|██████████| 120000/120000 [00:00<00:00, 2722454.40 examples/s]
Generating test split: 100%|██████████| 7600/7600 [00:00<00:00, 2651972.58 examples/s]

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 120000
    })
    test: Dataset({
        features: ['text', 'label'],
        num_rows: 7600
    })
})

In [41]:
print( isinstance(ds_news_raw, dict) )
ds_news_raw

True

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 120000
    })
    test: Dataset({
        features: ['text', 'label'],
        num_rows: 7600
    })
})

In [9]:
ds_news_raw['train']

Dataset({
    features: ['text', 'label'],
    num_rows: 120000
})

In [42]:
persona = {
    "nome": "Francesco",
    "eta": 30,
    "citta": "Roma"
}

In [ ]:
#print( persona['nome'])
for key,value in persona.items():
    print(key, "---> ",value)
    print('')

nome --->  Francesco

eta --->  30

citta --->  Roma

In [39]:
print( type(ds_news_raw['train']) )
ds_news_raw['train']

<class 'datasets.arrow_dataset.Dataset'>

Dataset({
    features: ['text', 'label'],
    num_rows: 120000
})

In [56]:
print(ds_news_raw['train'])
len(ds_news_raw['train'])

Dataset({
    features: ['text', 'label'],
    num_rows: 120000
})

120000

In [ ]:
# Nomi delle label
print( ds_news_raw["train"].features["label"] )

ClassLabel(names=['World', 'Sports', 'Business', 'Sci/Tech'], id=None)

In [116]:
# keep a dictionary for conversion
LABEL_MAP = { 0: "World",
             1: "Sports",
             2: "Business",
             3: "Sci/Tech"
}
print(LABEL_MAP)
LABEL_MAP[2]

{0: 'World', 1: 'Sports', 2: 'Business', 3: 'Sci/Tech'}

'Business'

In [138]:
label_texts = [LABEL_MAP[i] for i in sorted(LABEL_MAP)]
label_texts

['World', 'Sports', 'Business', 'Sci/Tech']

In [35]:
import pandas as pd
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'London']
})
df

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London

In [73]:
df_news_train= ds_news_raw['train'].to_pandas()
df_news_train.head()

                                                text  label
0  Wall St. Bears Claw Back Into the Black (Reute...      2
1  Carlyle Looks Toward Commercial Aerospace (Reu...      2
2  Oil and Economy Cloud Stocks' Outlook (Reuters...      2
3  Iraq Halts Oil Exports from Main Southern Pipe...      2
4  Oil prices soar to all-time record, posing new...      2

In [90]:
df_news_train['label'] = df_news_train['label'].astype('int8')
df_news_train['label'].iloc[1]

np.int8(2)

In [72]:
print( df_news_train.head() )

                                                text  label
0  Wall St. Bears Claw Back Into the Black (Reute...      2
1  Carlyle Looks Toward Commercial Aerospace (Reu...      2
2  Oil and Economy Cloud Stocks' Outlook (Reuters...      2
3  Iraq Halts Oil Exports from Main Southern Pipe...      2
4  Oil prices soar to all-time record, posing new...      2

In [91]:
df_news_train['text'].iloc[1]

'Carlyle Looks Toward Commercial Aerospace (Reuters) Reuters - Private investment firm Carlyle Group,\\which has a reputation for making well-timed and occasionally\\controversial plays in the defense industry, has quietly placed\\its bets on another part of the market.'

In [95]:
print( df_news_train['text'].iloc[1] )

Carlyle Looks Toward Commercial Aerospace (Reuters) Reuters - Private investment firm Carlyle Group,\which has a reputation for making well-timed and occasionally\controversial plays in the defense industry, has quietly placed\its bets on another part of the market.

In [121]:
import textwrap
wrapped = textwrap.fill(df_news_train['text'].iloc[1], width=80)
print(wrapped)

print( '--label---> ' ,df_news_train['label'].iloc[1], LABEL_MAP[df_news_train['label'].iloc[1]]  )

Carlyle Looks Toward Commercial Aerospace (Reuters) Reuters - Private investment
firm Carlyle Group,\which has a reputation for making well-timed and
occasionally\controversial plays in the defense industry, has quietly placed\its
bets on another part of the market.
--label--->  2 Business

In [136]:
row_num= 78
wrapped = textwrap.fill(df_news_train['text'].iloc[row_num], width=80)
print(wrapped)
print( '--label---> ' ,df_news_train['label'].iloc[row_num], LABEL_MAP[df_news_train['label'].iloc[row_num]]  )

'Madden,' 'ESPN' Football Score in Different Ways (Reuters) Reuters - Was
absenteeism a little high\on Tuesday among the guys at the office? EA Sports
would like\to think it was because "Madden NFL 2005" came out that day,\and some
fans of the football simulation are rabid enough to\take a sick day to play it.
--label--->  3 Sci/Tech

In [139]:
label_texts

['World', 'Sports', 'Business', 'Sci/Tech']

In [ ]:
### Ora Embedding dei testi e delle etichette
### Fare io 
### vedere come ha fatto Fo
### vedere come fa Chat 
# ( ok ho preso dataset["train"] e trasformato in un pandas dataframe, cosi per comodità,
# ora ho colonne con testo e colonna con label relativa,
# adesso per continuare a imparare quello che volevo imparare 
# cosa dovrei fare ?)